* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Alerta {
    font-size: 28px;
    color: red;
}

#Alerta_Doce {
    font-size: 28px;
    color: red;
}

#Alerta_Prop {
    font-size: 28px;
    color: red;
}

#Cadastro_itens {
    margin-bottom: 50px;
}
#Link {
    padding-right: 30px;
}

.Form_Container h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Form_Container h3 {
    color: red;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Form_Container .Conteudo_form{
    margin-top: 60px;
    justify-content: center;
    display: flex;
}
.Form_Container .Conteudo_form img {
    width: 380px;
    border-radius: 50%;
}
.Form_Container .Conteudo_form .Form {
    padding: 80px;
}

.Painel_s_Container .Cabeçalho .Logo {
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 50%;
    width: 200px;
}
.Painel_s_Container .Cabeçalho .Menu {
    margin-top: 20px;
    padding: 20px;
    float: right;
}


.Prop_Loja {
    width: 90%;
    max-height: 500px;
    margin-left: 5%;
}
#Ul_prop{
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
}
.Img_Propaganda {
    width: 300px;
}
.Img_Propaganda img {
    width: 300px;
}
#IMG_Prop {
    width: 280px;
}
.Itens_Loja {
    margin-top: 50px;
}

.Produtos_Container header nav {
    margin-top: 40px;
    text-align: center;
}

.Produtos_Container .Forms_Container {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.Produtos_Container .Forms_Container form {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 40px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif; 
      
}
.Produtos_Container .Forms_Container form h2{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.Produtos_Container .Forms_Container form input {
    margin-bottom: 10px;
    height: 35px;
    width: 200px;
}
.Produtos_Container .Forms_Container form  button {
    width: 100px;
    height: 40px;
    margin-left: 30px;
    background-color: rgb(224, 35, 107);
    border: none;
    cursor: pointer;
}
.Produtos_Container .Forms_Container form button:hover {
    background-color: rgba(224, 35, 107, 0.514);
}
#itens{
    margin-top: 60px;
}
#itens li img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
#Cabeçalho {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    text-align: center;
}
#Lk {
    padding-left: 30px;
}
#Pedidos_Container {
    margin-top: 50px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    color: white;
}
#Pedidos_Container ul {
    width: 100%;
}
#Pedidos_Recebidos {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
#Pedidos_Enviados {
    width: 40%;
    margin-left: 5%;
}
#Pedidos_Enviados ul {
    background-color: rgb(247, 0, 164);
}
#BTN {
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(240, 36, 151);
    margin-bottom: 10px;
    cursor: pointer;
}
#BTN:hover{
    opacity: 85%;
}

@media(max-width: 700px){
    h1 {
        font-size: 25px;
    }
    nav {
        font-size: 18px;
    }
    .Prop_Loja {
        margin-top: 130px;
    }
    .Form_Container .Conteudo_form {
        display: flow-root;
    }
    .Form_Container .Conteudo_form .Logo {
        height: 180px;
        width: 180px;
    }
}
#WP_USER {
    font-size: 20px;
}