* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 3px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
a:hover {
    color: rgb(74, 70, 65);
}
.Form_Container {
    text-align: center;
}
.Form_Container .Navigation img {
    margin-top: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 10px;
}
#Conteudo_Form{
    justify-content: center;
    display: flex;
}
.Form_Container .Form {
    margin-right: 30px;
    margin-top: 60px;
    width: 300px;
    height: 300px;
    display: inline-table;
}
#Img img {
    width: 300px;
}
.Form_Container .Form input {
    width: 280px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.Form_Container .Form .Btn_Form {
    width: 150px;
    height: 35px;
    background-color: rgb(224, 35, 107);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.Form_Container .Form .Btn_Form:hover {
    background-color: rgba(225, 34, 101, 0.815);
}
.Form_Container .Conteudo_Form {
    margin-left: 30%;
    display: flex;
}
.Form_Container .Conteudo_Form img {
    width: 230px;
    height: 240px;
    margin-left: 50px;
}
#response {
    color: red;
}
@media(max-width: 700px){
    .Form_Container .Navigation .Menu a {
        font-size: 20px;
    }
    .Bolo_Img {
        display: none;
    }
    .Form_Container .Conteudo_Form {
        margin-left: 90px;
    }

}
@media(max-width: 400px){
    #Form {
        margin-left: 10%;
    }
}