* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
 }
 .Loja_Container .Cabeçalho{
    width: 100%;
 }
 .Loja_Container .Cabeçalho .Logo {
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
 }
 .Loja_Container .Cabeçalho .Menu {
    margin-top: 50px;
    float: right;
    margin-right: 5px;
}
.Loja_Container .Cabeçalho .Menu a {
    
    margin-right: 40px;
}
.Conteudo_Prop {
    height: 300px;
    margin-bottom: 30px;
}
.Propaganda {
   display: flex;
   width: 80%;
   height:  300px;
   margin-left: 10%;
}
.Propaganda .Txt_Propaganda {
    display: flex;
    width: 60%;
    height: auto;
    margin-right: 50px;
    font-size: 18px;
    max-height: 200px;
    color: white;
}
.Img_Propaganda { 
    width: 350px;
    height: 300px;
}
.Img_Propaganda img {
    height: 300px;
    width: 350px;
}
.Itens_Loja {
    background-color: transparent;
    margin-top: 30px;
    height: auto;
    max-width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul {
    text-align: center;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.37);
    margin-bottom: 30px;
 
}
li {
    list-style: none;
    color: white;
}
ul li img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.Loja_btn button {
    margin-top: 5px;
    margin-left: 10px;
    width: 70px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border-color: transparent;
}
.Loja_btn button:hover {
    background-color: rgba(0, 0, 0, 0.37);
}
.pedido{
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
}.pedido label {
    margin-right: 25px;
}.pedido p {
    margin-right: 25px;
}.pedido button {
    width: 90px;
    background-color: rgb(209, 17, 91);
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
@media (max-width: 700px){
    .Loja_Container .Cabeçalho .Menu {
        margin-top: 10px;
    }
    .Loja_Container .Cabeçalho .Menu a {
        font-size: 18px;
        margin-right: 40px;
        margin-left: 5px;
    }
    
    .Propaganda .Txt_Propaganda {
        font-size: 15px;
        width: 60%;
        max-height: 200px;
        color: white;
        margin-right: 5px;
    }
    .Propaganda .Img_Propaganda img {
        max-height: 200px;
        width: 100px;
    }
}