* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
} 
a:hover{
    color: rgb(74, 70, 65);
}
body {
    background-color: rgb(231, 74, 205);
}

.Home_Container .Navigation img {
    margin-top: 15px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    border-radius: 50%;  
    
}
.Home_Container .Navigation .Menu  {
    margin-top: 20px;
    text-align: center;
    float: right;
}
.Home_Container .Navigation .Menu a {
    text-decoration:  none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 30px;
    margin-right: 10px;
    color: white;
    
}
.Home_Container .Navigation .Menu a:hover {
    color: rgb(104, 101, 101);    
}
.Conteudo  {
    width: 100%;
    display: flex;
    margin-top: 30px;
}



.Txt_Box {
    margin-left: 10%;
    width: 50%;
    color: wheat;
  
}
.Conteudo .Txt_Box .Btn {
    cursor: pointer;
    background-color: rgb(224, 35, 107);
    text-align: center;
    width: 200px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border-color: transparent;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.Conteudo .Txt_Box button:hover {
    background-color: rgba(225, 34, 101, 0.815);;
}
.Conteudo .Img_Box img{
    margin-left: 3px;
    width: 395px;
    max-height: 400px;
}
@media(max-width: 750px){
    .Home_Container .Navigation img {
        margin-left: 35%;
    }
    .Home_Container .Navigation .Menu {
        margin-top: 20px;
        margin-right: 30px;
    }
    .Home_Container .Navigation .Menu a {
        margin-right: 1px;
        font-size: 20px;
    }
    .Conteudo {
        margin-top: 100px;
    }
    .Conteudo .Txt_Box {
        font-size: 12px;
        width: 80%;
    }
    .Conteudo .Img_Box {
        display: none;
    }
}



